<h1>GitHub API Exercise</h1>

<%= form_tag "/github", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :username, "Search by Username", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :username, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% if params[:username] %>
  <%= @github_finder.each do |field| %>
    <%= field %><br />
  <% end %>
<% end %>
