<%= form_tag "/", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :username, "Search by Username", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :username, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= form_tag "/", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :message, "New Tweet", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :message, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Post Tweet", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= form_tag "/", {:method => 'get', :class => "form-horizontal"} do %>
  <div class = "form-group">
    <%= label_tag :follow_username, "Follow by Username", class: "control-label col-md-2" %>
    <div class = "form-controls col-md-4">
      <%= text_field_tag :follow_username, nil, class: "form-control" %>
    </div>
    <div>
      <%= submit_tag "Follow", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<hr>

<% if params[:username].blank? %>
  <table class = "table table-striped" id = "feed">
    <% @home_feed.each do |tweet| %>
      <tr>
        <!-- twitter_text makes links clickable -->
        <td><i class="fa fa-twitter"></i>&nbsp;&nbsp;<%= twitter_text(tweet.text) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <table class = "table table-striped" id = "feed">
    <% @tweet_finder.each do |tweet| %>
      <tr>
        <!-- twitter_text makes links clickable -->
        <td><%= twitter_text(tweet.text) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
