<!DOCTYPE html>
<html lang="en">
  <head>

  <%= favicon_link_tag 'favicon.ico' %>

  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href= "<%= @page_home %>"><%= @page_header %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>

    <div class="container">

      <% flash.each do |type, message| %>
        <% if type == "notice" %>
        <b>
          <center>
            <div class="alert alert-success">
              <%= message %>
            </div>
          </center>
        </b>
        <% elsif type == "alert" %>
        <b>
          <center>
            <div class="alert alert-danger">
              <%= message %>
            </div>
          </center>
        </b>
        <% end %>
      <% end %>

    <%= yield %>

    <footer>
      <div class = "row">
        <div class = "text-right">

          <a href = "/github">
            <%= image_tag "GitHub-de8164cc6a609537cfdab331e002ebb3.png", alt: "GitHub", class: "img-footer", width: "28", height: "28" %>
          </a>

          <a href = "/">
            <%= image_tag "Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png", alt: "Twitter", class: "img-footer", width: "28", height: "23" %>
          </a>

          <a href = "/reddit">
            <%= image_tag "Reddit.png", alt: "Reddit", class: "img-footer" %>
          </a>

      </div>
    </footer>

  </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
